<div class="container default-layout">
  <div class="auth-wrapper">
    <div class="card bordered bg-success accent">
      <h3 class="card__title dark">Регистрация</h3>
      <form id="register-form" class="register-form">

        {{#each inputComponents}}
          <div id="{{ this._id }}"></div>
        {{/each}}

      </form>

      <div class="spacer"></div>

      <div id="{{registerBtnId}}"></div>

      <img
              id="{{ loadingId }}"
              class="loading"
              style="display: none"
              src="images/loading.gif"
              alt="loading"
              height="40px"
      >

      <div id="{{redirectLoginBtnId}}"></div>

    </div>
  </div>
</div>
