<div id="{{ navDrawerId }}"></div>
<div class="messenger-page content-center">
  {{#if chat}}
  <h4 class="white">Выбран чат №{{ chat.id }}</h4>
  {{/if}}
  {{#unless chat}}
  <h4 class="white">Выберите чат, чтобы отправить сообщение</h4>
  {{/unless}}
</div>
