form {
    width: 90%;
}

#app-profile-edit, #app-profile-show {
    background-image: url('../../assets/images/profile.png');
}

.btn-group__row {
    width: 95%;
}

.profile__profile-card {
    width: 50%;
    min-width: 800px;
}
