<div class="container full">
    <img
            id="avatar"
            src="/images/avatar_default.png"
            alt="аватар"
            height="130"
            style="cursor: pointer"
    >
    <img
            id="avatar-change"
            class="dialog_activator"
            src="/images/avatar_change.png"
            alt="аватар"
            hidden
            height="130"
            style="cursor: pointer"
    >

    <!-- Modal dialog -->
    <div id="dialog" class="dialog">

        <!-- Dialog content -->
        <div class="dialog__content bordered">
            <span class="dialog__close-icon">&times;</span>
            <div class="card">
                <div class="h3 primary">Загрузите файл</div>
                <button class="btn btn_outline secondary">Выберите файл на компьютере</button>
                <button class="btn bg-primary white">Поменять</button>
            </div>
        </div>

    </div>

    <div class="break"></div>

    <div class="card bordered profile__profile-card bg-success accent">
        <form id="profile-form" class="form">
            <div class="card__title h3">Профайл</div>

            {{> inputText input=form.email }}
            {{> inputText input=form.login }}
            {{> inputText input=form.first_name }}
            {{> inputText input=form.second_name }}
            {{> inputText input=form.display_name }}
            {{> inputText input=form.phone }}

        </form>

        <div class="spacer"></div>

        <div class="btn-group__row">
            {{> button id=registerBtnId value='Изменить данные' class='bg-dark white' href='/profile/edit' }}
            {{> button id=registerBtnId value='Изменить пароль' class='bg-dark white' href='/profile/edit-password' }}
            {{> button id=registerBtnId value='Выйти' class='bg-danger white' href='/logout' }}
        </div>
    </div>
</div>