<form class="card bordered bg-success accent">
  <h3 class="card__title dark">{{ title }}</h3>

  {{#each inputs}}
    {{{ this }}}
  {{/each}}

  <div class="spacer"></div>

  <div class="button-group__row">
    {{#each actions}}
      {{{ this }}}
    {{/each}}
  </div>
</form>
