<img class="error-not-found-image" src="/images/404.svg"  alt="Not found"/>
<div class="return-back">
    <h2 class="info">Запрашиваемого контента не существует!</h2>
    {{> button id=goBackBtnId href='/' value='На главную' underline=true class="info" }}
</div>