.nav-drawer {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.nav-drawer_collapsed {
  width: 60px;
}

.nav-drawer__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.nav-drawer__header-icon {
  margin-left: 6px;
  color: var(--info);
  cursor: pointer;
}

.nav-drawer__header-icon.active {
  color: var(--accent);
}

.nav-drawer__toggle-icon {
  margin-right: 6px;
}

.nav-drawer__menu {
  flex-grow: 1;
  width: 100%;
  justify-content: start;
  align-content: center;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

.nav-drawer__menu-item {
  justify-content: center;
  align-content: center;
  margin-left: 6px;
}

.nav-drawer__menu-item > a {
  text-decoration: none;
}

.nav-drawer__hr {
  box-shadow: 0 0 5px 2px rgb(23 193 232 / 100%);
  margin-left: 0;
  margin-right: 0;
}

.chat-list {
  max-height: 100%;
  overflow-y: auto;
}

.chat-list__item2 {
  justify-content: start;
  align-content: center;
  margin-left: 6px;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex: 1 1 100%;
  text-decoration: none;
}

.chat-list__item {
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 2px rgb(23 193 232 / 100%);
  border-radius: 12px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 12px;
}

.chat-list__item__avatar {
  position: relative;
  margin-right: 7px;
}

.chat-list__item__avatar img {
  width: 72px;
  height: 72px;
  align-items: center;
  justify-content: center;
}

.chat-list__item__unread-count {
  position: absolute;
  right: 0;
  bottom: 3px;
  background-color: var(--dark);
  color: var(--accent);
  border-radius: 999px;
  padding: 3px;
}

.chat-list__item__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.chat-list__item__short-message {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 120px;
  overflow-x: hidden;
}
