<div class="break"></div>

<div class="card bordered profile__profile-card bg-success accent">
  <h3 class="card__title dark">Изменение пароля</h3>
  <form id="profile-form" class="form">

    {{{ InputOldPassword }}}
    {{{ InputNewPassword }}}
    {{{ InputPasswordConfirm }}}

  </form>

  <div class="spacer"></div>

  {{{ SaveBtn }}}
</div>
