<div class="container full">
    <img
        id="avatar"
        class="dialog_activator profile-avatar"
        src="/images/avatar_default.png"
        alt="аватар"
        height="130"
    >
    <img
        id="avatar-change"
        class="dialog_activator profile-avatar"
        src="/images/avatar_change.png"
        alt="аватар"
        hidden
        height="130"
    >

    <!-- Modal dialog -->
    <div id="dialog" class="dialog">

        <!-- Dialog content -->
        <div class="dialog__content bordered">
            <span class="dialog__close-icon">&times;</span>
            <div class="card">
                <h3 class="primary">Загрузите файл</h3>
                <button class="btn btn_outline secondary">Выберите файл на компьютере</button>
                <button class="btn bg-primary white">Поменять</button>
            </div>
        </div>

    </div>

    <div class="break"></div>

    <div class="card bordered profile__profile-card bg-success accent">
        <form id="profile-form" class="form">
            <h3 class="card__title">Профайл</h3>

            {{> inputText input=form.email }}
            {{> inputText input=form.login }}
            {{> inputText input=form.first_name }}
            {{> inputText input=form.second_name }}
            {{> inputText input=form.display_name }}
            {{> inputText input=form.phone }}

        </form>

        <div class="spacer"></div>

        <div class="btn-group__row">
            {{> button id=registerBtnId value='Сохранить' class='bg-dark white' href='/profile/show' }}
            {{> button id=registerBtnId value='Выйти' class='bg-danger white' href='/logout' }}
        </div>
    </div>
</div>