<div class="messenger">
  {{#if selectedChat }}
  <div class="messenger__messages">
    {{#each messageTemplates}}
      {{{this}}}
    {{/each}}
  </div>
  <div class="messenger__footer">
    <div id="{{ sendMessageInputId }}"></div>
    <div id="{{ sendMessageButtonId }}"></div>
  </div>
  {{else}}
  <h4 class="white">Выберите чат, чтобы отправить сообщение</h4>
  {{/if}}
</div>
