<div class="container full default-layout">
  <div class="bordered bg-success accent auth-form login-form">
    <h3 class="card__title dark">Вход</h3>

    {{{ form }}}

    <div class="spacer"></div>

    <div class="auth-form__actions">
      {{{button}}}
      {{{link}}}
    </div>

  </div>
</div>
